
dataset/

# results/
*.log

*.pth
*.pt
*.ckpt
*.pkl
*.bin


__pycache__/
*.py[cod]
*.pyo
.pytest_cache/


.ipynb_checkpoints/
*.ipynb

wandb/


.env
*.env

.DS_Store
Thumbs.db

report/*.aux
report/*.bbl
report/*.blg
report/*.log
report/*.out
report/*.pdf
report/*.synctex.gz
report/*.toc
